@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100;
  }
  .marker_layout {
    @apply flex flex-col items-center
  }
  .marker_label {
    @apply text-sm font-semibold -mt-1
  }
  .marker_info_window {
    @apply w-[200px] h-[184px] flex flex-col bg-white rounded-lg shadow-md cursor-pointer
  }

  .marker_info_window__image {
    @apply w-full h-[120px] object-cover rounded-t-md
  }

  .marker_info_window__content {
    @apply flex flex-col p-3
  }

  .marker_info_window__title {
    @apply text-base font-semibold truncate
  }
  .marker_info_window__description {
    @apply text-xs text-font-info truncate
  }
}

@font-face {
  font-family: Pretendard;
  font-weight: 400;
  src: local("Pretendard Regular"),
  url("../public/assets/fonts/Pretendard-Regular.woff2") format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 500;
  src: local("Pretendard Medium"),
  url("../public/assets/fonts/Pretendard-Medium.woff2") format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 600;
  src: local("Pretendard SemiBold"),
  url("../public/assets/fonts/Pretendard-SemiBold.woff2") format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  src: local("Pretendard Bold"),
  url("../public/assets/fonts/Pretendard-Bold.woff2") format('woff2');
}